@media screen and (max-width: 1140px) {
  body.menu {
    height: 100%;
    overflow-y: hidden;
  }
  .nav-bar {
    display: none;
  }
  header {
    height: 64px;
  }
  .m-navbar {
    width: 100%;
    height: 100%;
    display: block;
    padding: 16px 22px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .m-fixed-logo {
    width: 97px;
  }
  .m-fixed-logo img {
    width: 100%;
    object-fit: cover;
  }
  .m-menubar svg {
    width: 34px;
    height: 34px;
    stroke: #b6aea1;
    cursor: pointer;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    overflow-y: scroll;
  }
  .mobile-menu::-webkit-scrollbar {
    display: none;
  }
  .m-menu-header {
    width: 100%;
    height: 64px;
    display: block;
    padding: 16px 22px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .m-fixed-logo {
    width: 97px;
  }
  .m-fixed-logo img {
    width: 100%;
    object-fit: cover;
  }
  .m-menubar svg {
    width: 34px;
    height: 34px;
    stroke: #b6aea1;
    cursor: pointer;
  }
  .search-box {
    width: 100%;
    padding: 16px 22px 16px 24px;
    display: flex;
  }
  .search-box form {
    width: 100%;
    height: 36px;
    position: relative;
    padding-right: 10px;
  }
  .search-box form input {
    width: 100%;
    height: 100%;
    font-family: "Pretendard-Regular";
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    outline: none;
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid rgba(34, 34, 34, 0.3);
  }
  .search-box form input::placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #333;
    font-family: "Pretendard-Regular";
  }
  .search-box form .lucide-search {
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: #333;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .search-box .lucide-user {
    width: 36px;
    height: 36px;
    stroke-width: 1px;
    stroke: #333;
    cursor: pointer;
  }
  .m-menu-list {
    width: 100%;
    padding: 16px 22px 16px 24px;
  }
  .m-menu-list ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .m-menu-list ul li {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: rgb(34, 34, 34);
  }

  .m-menu-list ul li a {
    color: rgb(34, 34, 34);
  }
  .m-menu-list ul li strong {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .m-menu-list ul li strong svg {
    width: 26px 27px;
    margin-left: 2px;
    stroke: #b6aea1;
  }
  .m-menu-list ul li strong svg.lucide-chevron-up {
    display: none;
  }

  .m-detail-list {
    width: 100%;
    padding-top: 18px;
    transition: 0.8s;
  }
  .m-detail-list.hide {
    padding-top: 0;
    height: 0;
    overflow: hidden;
    transition: 0.8s;
  }
  .m-detail-list li {
    width: 100%;
    display: flex;
    padding: 18px 0;
    border-bottom: 1px solid #b6aea1;
  }
  .m-detail-list li:last-child {
    border: none;
  }
  .m-detail-list li .m-left {
    width: 50%;
    pointer-events: none;
  }
  .m-left h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(34, 34, 34, 0.5);
  }
  .m-detail-list li .m-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .m-right a {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: rgba(34, 34, 34, 1);
  }
  .main {
    align-items: flex-end;
    padding: 0 24px;
  }
  .main-content {
    margin-bottom: 112px;
  }
  .main-content h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .main-content h2 svg {
    display: block;
    width: 54px;
    height: 54px;
    opacity: 1;
    transition: 0.3s;
    animation: move infinite 4s;
  }
  @keyframes move {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(20px);
    }
    85% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;

      transform: translateY(0px);
    }
  }
  .intro {
    padding: 100px 24px 75px;
  }
  .intro h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .intro p {
    max-width: 272px;
    font-size: 22px;
    line-height: 32px;
    margin: 7px auto 32px;
  }
  .intro p .jump {
    display: none;
  }
  .intro span {
    font-size: 16px;
    line-height: 19px;
    padding: 16px 20px;
    border-radius: 8px;
  }
  .container {
    padding: 50px 24px;
  }
  .container .container-wrapper {
    max-width: 272px;
    margin: 0 auto;
    gap: 74px;
  }
  .container-wrapper li {
    flex-direction: column;
  }
  .first-content {
    width: 100%;
    gap: 8px;
  }
  .first-content strong {
    font-size: 20px;
    line-height: 24px;
  }
  .first-content h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .first-content p {
    font-size: 16px;
    line-height: 26px;
    max-width: 272px;
    margin: 20px 0 40px;
  }
  .first-image {
    width: 100%;
    height: 368px;
    border-radius: 10px;
  }
  .first-image img {
    width: 100%;
    height: 100%;
  }
  .container-wrapper li:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
  .container-wrapper li:nth-of-type(2) .first-content {
    order: 1;
    width: 100%;
    gap: 8px;
    padding: 0;
  }
  .container-wrapper li:nth-of-type(2) .first-image {
    order: 2;
    margin-bottom: 67px;
  }
  .with {
    padding: 100px 24px;
  }
  .with-inner {
    max-width: 272px;
    margin: 0 auto;
  }
  .with-title strong {
    font-size: 14px;
    line-height: 17px;
  }
  .with-title h2 {
    font-size: 28px;
    line-height: 38px;
    margin: 10px 0 40px;
  }
  .with-content {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .with-link {
    padding: 22px;
  }
  .with-link:nth-of-type(1) {
    height: 360px;
    border-radius: 10px;
  }
  .with-link:nth-of-type(2),
  .with-link:nth-of-type(3) {
    height: 180px;
    border-radius: 10px;
  }
  .with-link h4 {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .with-link:nth-of-type(2) h4,
  .with-link:nth-of-type(3) h4 {
    font-size: 22px;
    line-height: 30px;
  }
  .with-link h4 svg,
  .with-link:nth-of-type(2) h4 svg,
  .with-link:nth-of-type(3) h4 svg {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0;
  }
  .with-link:nth-of-type(1):hover h4 svg,
  .with-link:nth-of-type(2):hover h4 svg,
  .with-link:nth-of-type(3):hover h4 svg {
    margin-left: 0;
  }
  .news {
    padding: 100px 24px;
  }
  .news-inner {
    max-width: 272px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news-title strong {
    font-size: 14px;
    line-height: 17px;
  }
  .news-title h2 {
    font-size: 28px;
    line-height: 38px;
    margin: 10px 0 40px;
  }
  .news-list ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .news-list ul li {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  .news-list ul li b {
    font-size: 12px;
    line-height: 14px;
    padding: 4px 8px;
    border-radius: 6px;
  }
  .news-list ul li p {
    font-size: 18px;
    line-height: 26px;
    margin: 8px 0 18px;
  }
  .news-list ul li span {
    font-size: 14px;
    line-height: 17px;
  }
  .news-list ul li:hover {
    transform: translateY(-7px);
  }
  .news-more {
    padding: 14px 26px;
    font-size: 16px;
    line-height: 19px;
    border-radius: 8px;
    border: 1px solid rgba(34, 34, 34, 0.4);
    margin: 36px auto 0;

    transition: 0.3s;
  }
  .news-more:hover {
    background-color: #222;
    color: #fff;
    transition: 0.3s;
  }
  .career {
    padding: 132px 24px 100px;
    height: auto;
  }
  .career-inner {
    max-width: 272px;
    margin: 0 auto;
  }
  .career-inner strong {
    font-size: 14px;
    line-height: 17px;
  }
  .career-inner h4 {
    font-size: 28px;
    line-height: 38px;
    margin: 10px 0 28px;
  }
  .career-inner a p {
    border-radius: 8px;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 26px;
  }
  .footer {
    padding: 60px 0 34px;
    overflow-x: hidden;
  }
  .footer-inner {
    margin: 0 auto;
    padding: 0 34px;
    flex-direction: column;
    gap: 60px;
  }

  .footer-menu {
    width: 100%;
    order: 1;
    flex-direction: column;
    padding: 0;
    gap: 60px;
  }
  .footer-info {
    width: 100%;
    order: 2;
  }
  .adress {
    margin-bottom: 50px;
  }
  .contact a {
    cursor: pointer;
  }
  .contact p {
    width: 100%;
  }
  .contact p span {
    display: inline-block;
    cursor: pointer;
  }
  .adress {
    overflow-x: hidden;
  }
  .adress p {
    width: 100%;
    white-space: wrap;
  }

  .sns {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-sns {
    order: 1;
    margin-bottom: 60px;
  }
  .footer-sns ul {
    gap: 30px;
  }
  .footer-logo {
    order: 2;
  }
  .submit .submit-close {
    width: 30px;
    height: 30px;
    top: 10px;
  }
}
